.brands {
    @include md{
        width: 80%;
        margin: 80px auto;
    }
    .canon {
        background: $purple;

		.new1 {
			padding:20px 30px 20px;
		}

		a {
			background: $yellow;
			padding: 5px 10px;
		}
    } 
    .nikon {
        background: $purple;

		.new2 {
			padding: 20px 30px 20px;
		}

		a {
			background: $yellow;
			padding: 5px 10px;
		}
    } .sony {
        background: $purple;

		.new3 {
			padding: 20px 30px 20px;
		}

		a {
			background: $yellow;
			padding: 5px 10px;
		}
    } .fujifilm {
        background: $purple;

		.new4 {
			padding: 20px 30px 20px;
		}

		a {
			background: $yellow;
			padding: 5px 10px;
		}
    } .olympus {
        background: $purple;

		.new5 {
			padding: 20px 30px 20px;
		}

		a {
			background: $yellow;
			padding: 5px 10px;
		}
    } 
    
    .canonimage {
        background: url("deploy/img/canonimage.jpg") no-repeat;
        background-size: cover;
        background-position: center;
    }
    .nikonimage {
        background: url("deploy/img/nikonimage.jpg") no-repeat;
        background-size: cover;
        background-position: center;
    }
    .sonyimage {
        background: url("deploy/img/sonyimage.jpg") no-repeat;
        background-size: cover;
        background-position: center;
    }
    .fujifilmimage {
        background: url("deploy/img/fujifilmimage.jpg") no-repeat;
        background-size: cover;
        background-position: center;
    }
    .olympusimage {
        background: url("deploy/img/olympusimage.jpg") no-repeat;
        background-size: cover;
        background-position: center;
    }
}

