.brands {
    .regular {
        font-weight: 300;
        font-size: 40px;
    }
    h3 {
        font-weight: 500;
        font-size: 28px;
    }
    p {
        font-weight: 400;
        font-size: 16px;
    }

    color: $dullpurple;
    @include md{
        width: 80%;
        margin: 80px auto;
    }
    .canon {
        background: $purple;
        color: $black;

		.new1 {
			padding:20px 30px 20px;
		}

		.link {
            a {
                background: $yellow;
                padding: 5px 10px;
            }
            margin: 30px 0 0;
        }
    } 
    .nikon {
        background: $purple;
        color: $black;

		.new2 {
			padding: 20px 30px 20px;
		}

		.link {
            a {
                background: $yellow;
                padding: 5px 10px;
            }
            margin: 30px 0 0;
        }
    } .sony {
        background: $purple;
        color: $black;

		.new3 {
			padding: 20px 30px 20px;
		}

		.link {
            a {
                background: $yellow;
                padding: 5px 10px;
            }
            margin: 30px 0 0;
        }
    } .fujifilm {
        background: $purple;
        color: $black;

		.new4 {
			padding: 20px 30px 20px;
		}

		.link {
            a {
                background: $yellow;
                padding: 5px 10px;
            }
            margin: 30px 0 0;
        }
    } .olympus {
        background: $purple;
        color: $black;

		.new5 {
			padding: 20px 30px 20px;
		}

		.link {
            a {
                background: $yellow;
                padding: 5px 10px;
            }
            margin: 30px 0 0;
        }
    } 
    
    .canonimage {
        background: url("/deploy/img/canonimage.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        height: 250px;
    }
    .nikonimage {
        background: url("/deploy/img/nikonimage.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        height: 250px;
    }
    .sonyimage {
        background: url("/deploy/img/sonyimage.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        height: 250px;
    }
    .fujifilmimage {
        background: url("/deploy/img/fujifilmimage.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        height: 250px;
    }
    .olympusimage {
        background: url("/deploy/img/olympusimage.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        height: 250px;
    }
}

