.cameratypes {
	h2{
		font-weight: 500;
	}
	.mirrorlesscam {
		margin: 20px 0;
		padding: 20px;
		background: $darkpurpleblue;
		color: $lightyellow;

		.orderhere {
			a {
				background: $yellow;
				padding: 10px 15px;
			}
			margin: 30px 0 0;
		}
	}
    .dslrcam {
		margin: 20px 0;
		padding: 20px;
		background: $darkpurpleblue;
		color: $lightyellow;

		.orderhere {
			a {
				background: $yellow;
				padding: 10px 15px;
			}
			margin: 30px 0 0;
		}
	}
    @include lg {
		width: 75%;
        margin: 0 auto;
    }
}