.hero {
    .heroimage {
        background-image: url("../../../deploy/img/heroimage.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 90vh;
    }

    ul {
        h5 {
            display: none;
        }
        a {
            color: $darkpurpleblue;
            padding: 10px;
            min-height: 80px;
        }
        .details1 a {
            background: $yellow;
        }
        .details2 a {
            background: $lightyellow;
        }

        @include md {
			 h5 {
				display: inline;
				padding: 15px;
			}
		}
    }
}

