.hero {
    .heroimage {
        background-image: url("../../../deploy/img/heroimage.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 90vh;
        }
}