.midpic {
    .cams {
        background: url("../../../deploy/img/middleimage.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
    }
    
    .lens {
        background: url("../../../deploy/img/middleimage2.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 50vh;
    }
    
    .accs {background: url("../../../deploy/img/middleimage3.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 50vh;
    }
}
.midimage3 {
    display: none;
}
@include md{
    .midimage3 {
        display: block;
    }
}
@include lg{
    .midimage3 {
        display: block;
    }
}