.midpic {
    @include md {
        ul {
            display: grid;
            grid-template-columns: auto auto;
        }
    }
    @include lg {
        ul {
            grid-template-columns:60% auto;
        }
    }
    @include xl {
        ul {
            grid-template-columns:55% auto;
        }
    }

    .cams {
        background-image: url("../../../deploy/img/middleimage.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
        width: 100%;
        @include md {
            align-items: center;
            justify-content: center;
        }
        @include lg {
            align-items: center;
            justify-content: center;
        }
        @include xl{
            align-items: center;
            justify-content: center;
        }
    }
    
    .lens {
        background-image: url("../../../deploy/img/middleimage2.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;

        @include md {
            align-items: center;
            justify-content: center;
        }
        @include lg {
            align-items: center;
            justify-content: center;
        }
        @include xl{
            align-items: center;
            justify-content: center;
        }
    }
    
    .accs {
        display: none;
        @include md{
            background: url("../../../deploy/img/middleimage3.jpg");
            display: none;
        }
        @include lg{
            background: url("../../../deploy/img/middleimage3.jpg");
            display: none;
        }
        @include xl{
            display: block;
            background-image: url("../../../deploy/img/middleimage3.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }
}
