/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.content {
    display: grid;
    grid-template-areas:
        "header"
        "hero"
        "cameratypes"
        "midpic"
        "brands"
        "footer"
    
    .header {
        grid-area: header;
    }
    .hero {
        grid-area: hero;
    }
    .cameratypes {
        grid-area: cameratypes;
    }
    .midpic {
        grid-area: midpic;
    }
    .brands {
        grid-area: brands;
    }
    .footer {
        grid-area: footer;
    }
    
    margin-bottom: 24px;

    @include md {
        margin-bottom: 32px;
    }

    @include xl {
        margin-bottom: 64px;
    }
}
