/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.content {
    
    margin-bottom: 24px;

    @include md {
        margin-bottom: 32px;
    }
    @include lg {
        margin-bottom: 64px;
    }
    @include xl {
        margin-bottom: 64px;
    }
}

main{
    display: grid;
    grid-template-areas:
        "header"
        "hero"
        "cameratypes"
        "midpic"
        "brands"
        "footer"
}

.header {
    grid-area: header;

    .topheader {
        display: grid;
        grid-template-columns: 100px auto;
    }
    form {
		display: grid;
		grid-template-columns: 95% auto;
	}
}

.hero {
    grid-area: hero;

    ul {
        display: grid;
    }
    a {
        display: grid;
        grid-template-columns: 75% auto;
    }

    @include md {
        ul {
           grid-template-columns: 50% 50%;
           justify-content: center;
           grid-gap: 20px;
        }
    }
}

.cameratypes {
    grid-area: cameratypes;

    @include md{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        grid-gap: 20px;
    }
}
.mirrorlesscam {
    display: grid;
    grid-template-columns: 70% auto;
}
.dslrcam {
    display: grid;
    grid-template-columns: 70% auto;
}

.midpic {
    grid-area: midpic;
    justify-content: center;
    ul {
        display: grid;
    }

    @include md {
        ul {
            grid-template-columns: 60% auto;
            }
    }
}

.brands {
    grid-area: brands;
   
    .canon {
        display: grid;
        grid-template-columns: 100%;
    }
    .nikon {
        display: grid;
        grid-template-columns: 100%;
    }
    .sony {
        display: grid;
        grid-template-columns: 100%;
    }
    .fujifilm {
        display: grid;
        grid-template-columns: 100%;
    }
    .olympus {
        display: grid;
        grid-template-columns: 100%; 
    }

   .branding {
        @include md {
            display: grid;
            grid-template-columns: repeat(6 ,1fr);
            grid-gap: 30px;
            justify-content: center;

            .canon {
                grid-column: 1 / 2;
            }
            .nikon {
                grid-column: 4 / 6;
            }
            .sony {
                grid-column: 1 / 2;
            }
            .fujifilm {
                grid-column: 4 / 6;
            }
            .olympus {
                grid-column: 2 / 4 ;
            }
        }
        @include lg {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            justify-content: center;

            .canon {
                grid-column: 2 / 5;
            }
            .nikon {
                grid-column: 6 / 9;
            }
            .sony {
                grid-column: 10 / 12;
            }
            .fujifilm {
                grid-column: 3 / 6;
            }
            .olympus {
                grid-column: 8 / 11;
            }
        }
    }
}

.footer {
    grid-area: footer;

    .social ul {
        display: flex;
    }
    .location {
        section ul li{
            display: grid;
            grid-template-columns: 20px 200px;
        }
    }
    @include md {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;

        .location {
            grid-column: 5 / 8;
            grid-row: 1 / 4;
        }
        .email {
            grid-column: 8 / 11;
            grid-row: 1 / 2;
        }
        .social {
            grid-column: 8 / 11;
        }
    }
}
