.footer {
    justify-content: center;
	background: $lightpurpleblue;
	padding: 50px 0 ;

	.location {
		line-height: 1.75;
		ul {
			border-bottom: 1px solid $lightblue;
			padding-bottom: 20px;
			}
		a {
			color: $lightblue;
		}
	}

	h4 {
		color: $darkpurpleblue;
		font-weight: 600;
        font-size: 20px;
	}
	
	h5{
		color: $lightblue;
		font-weight: 600;
        font-size: 16px;
	}

	.icon {
		color: $yellow;
	}

	address {
		color: $lightblue;
		font-weight: 500;
        font-size: 16px;
	}

	.email {
		margin: 20px 0;
		form {
			padding: 20px 0; 
		}
		form button {
			background: $yellow;
			border: none;
			border-radius: 2px;
			height: 20px;
			}
	}

	.social-icon a {
		color: $yellow;
		padding: 10px 5px;
		font-size: 20px;
	}
}