.footer {
    justify-content: center;
	background: $lightpurpleblue;
	padding: 50px 0 ;

	.location {
		a {
			color: $darkpurpleblue;
		}
	}

	h5,h4 {
		color: $darkpurpleblue;
	}

	.icon {
		color: $yellow;
	}

	address {
		color: $darkpurpleblue;
	}

	.email {
		margin: 20px 0;
		form {
			padding: 20px 0; 
		}
		form button {
			background: $yellow;
			border: none;
			border-radius: 2px;
			height: 20px;
			}
	}

	.social-icon a {
		color: $yellow;
		padding: 10px 5px;
	}
}