.footer {
    justify-content: center;
	background: $lightpurpleblue;
	padding: 50px 0 ;

	.location {
		a {
			color: $darkpurpleblue;
		}
	}

	h5,h4 {
		color: $darkpurpleblue;
	}

	.icon {
		color: $yellow;
	}

	address {
		color: $darkpurpleblue;
	}

	.email {
		form {
			padding: 20px 0; 
		}
	}

	.social-icon a {
		color: $yellow;
		padding: 10px 5px;
	}
}