header {
	background: $lightpurpleblue;
	padding: 30px;
	h1 {
		font-size: 40px;
		font: 600;
		color: $darkpurpleblue;
	}

	.search{
		height: 20px;
		margin: 20px 0 0;

		form input {
		border: none;
		border-bottom: 1px solid white;
		padding: 20px;
		}

		form button {
		background: $yellow;
		border: none;
		border-radius: 4px;
		height: 50px;
		}
	}
}